

@keyframes textBlink {

  10% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes opacityPulse {

  10% {
    opacity: 0.9;
  }

  40% {
    opacity: 1;
  }

  80% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
} 
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes horizontalShake {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}

.shakeHoriz{
  animation: horizontalShake .4s ease-in-out 1;
}