@import '../../styles/index.scss';

.list {
  width: 600px;
  padding: 10px;
}

.item {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $blue-deep;
  background-color: white;
  margin: 5px 0;

  h4 {
    color: $purple-deep;
    margin: 0;
  }
}